<h1>Welcome on <%= @user.username %> profile ! </h1>
<div class="container bootdey">
  <section class=" texte-center">
    <div class=>
      <div class="card">
        <div class="card-header">
          <div class="card-header-menu">
          </div>
          <div class="card-header-headshot" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @user.photo.key %>)"></div>
        </div>
        <div class="card-content">
          <div class="card-content-member">
            <h4 class="card-user"> <%=  @user.username %></h4>
          </div>
        </div>
      </div>
    </div>
    <% if @user.reviews.blank? %>
      Be the first to leave a review for <%= @user.username %>
    <% else %>
      <% @user.reviews.each do |review| %>
        <div class="col-sm-12 col-md-8">
          <div class="review-block">
            <div class="row">
              <div class="col-sm-3">
  
                <div class="review-block-img">
                   <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-rounded" alt="">
                </div>
                <div class="review-block-name"><a href="#"> <%= @review.creator_id %> </a></div>
              </div>
              <div class="col-sm-9">
                <div class="review-block-rate">
                  <p>Rating : <%= review.rating %> / 5 </p>
                </div>
                <div class="review-block-description">
                  <p><%= review.description %></p>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
<div class="container">
  <%= simple_form_for([ @user, @review ]) do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :description, as: :text %>
    <%= f.button :submit %>
  <% end %>
</div>
