<div class="container one-game">
  <div class="card-trip">
    <img src="<%= cl_image_path @game.photo.key %>" />
    <div class="card-trip-infos">
      <div>
        <h2><%= @game.name %></h2>
        <p>Platform : <%= @game.console %></p>
        <p>Sold by <%= @game.user.username%></p>
        <hr>
        <h3>Description</h3>
        <p><%= @game.description%></p>
      </div>
      <h2 class="card-trip-pricing"><%= @game.price %>€</h2>
      <% if @game.user.photo.attached? %>
          <%= cl_image_tag @game.user.photo.key, class: "card-trip-user avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <% end %>
    </div>
  </div>
  <div class="edit-offer">
       <% if policy(@game).update? %>
    <div class="btn-edit">
      <%= link_to "Edit the offer", edit_game_path(@game) %>
    </div>
  <% end %>
    <% if policy(@game).buy?%>
    <div class="btn-buy">
      <%= link_to "Buy", buy_game_path(@game) %>
    </div>
      <% end %>
  </div>
</div>
